<div class="fluid-container text-center p-5 ">
   
    <h1>Welcome to My Aadhar Services</h1>
    <br><br><br>
    <div class="row">
      <div class="col">
        <img src="https://english.cdn.zeenews.com/sites/default/files/2021/10/04/976475-aadhaar-card-1.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col">
        <br><br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary  btn-lg rounded" routerLink="admin"  data-toggle="modal">ADMIN LOGIN</button>
        </div>
        <br><br><br><br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-success  btn-lg rounded" routerLink="user" >&nbsp;USER LOGIN &nbsp;</button>
        </div>
      </div>
    </div>
  </div>
  